footer.bg-white.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-center.flex-column.flex-sm-row
            .col-auto
                .small.m-0 Copyright &copy; Pablo Moya 2025
           
