doctype html
html(lang='es')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Pablo Moya - Proyectos

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Proyectos
                    .row.gx-5.justify-content-center

                        .col-lg-11.col-xl-9.col-xxl-8

                            // Project Card 1: ALMEDIN
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center.card-container
                                        .p-5
                                            h2.fw-bolder
                                                a(href='https://github.com/Softek-UMSA-Grupo5/TP-Integrador-Obra-Social', target='_blank') ALMEDIN
                                            p
                                                strong Tecnologías: 
                                                | Java, Quarkus, JWT, Swagger, Junit, React, Typescript.
                                            p
                                                strong Descripción: 
                                                | Trabajo final para la academia Java-React organizada por Softtek y dictada por UMSA. Desarrollado en equipo, distribuimos nuestras tareas utilizando metodologías ágiles. Todos los integrantes nos encargamos tanto del backend como del frontend, así como también de la documentación y las pruebas unitarias. El proyecto consistió en una plataforma diseñada para una obra social, que abarca desde la gestión de turnos y recetas de los afiliados y su grupo familiar, hasta la administración interna de los médicos, consultorios, horarios y turnos.
                                        a(href='https://github.com/Softek-UMSA-Grupo5/TP-Integrador-Obra-Social', target='_blank')
                                            img.img-fluid(src='./assets/Almedin.png', alt='Proyecto ALMEDIN')

                            // Project Card 2: Calcbsp
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center.card-container
                                        .p-5
                                            h2.fw-bolder
                                                a(href='https://github.com/Mpablom/calcbsp', target='_blank') Calcbsp
                                            p
                                                strong Tecnologías: 
                                                | Rust, GTK.
                                            p
                                                strong Descripción: 
                                                | Desarrollo de una calculadora científica moderna y altamente personalizable, diseñada específicamente para entornos de window managers como bspwm e i3wm. El proyecto surgió como respuesta a la falta de opciones actualizadas y funcionales en el mercado.
                                            p
                                                strong Rol: 
                                                | Responsable del desarrollo completo, desde la implementación de la lógica matemática en Rust (optimizada para velocidad y eficiencia) hasta la creación de una interfaz gráfica intuitiva utilizando GTK.
                                        a(href='https://github.com/Mpablom/calcbsp', target='_blank')
                                            img.img-fluid(src='https://raw.githubusercontent.com/Mpablom/calcbsp/refs/heads/main/src/img/actualizaci%C3%B3n-vista-20-06.png', alt='Proyecto Calcbsp')

                            // Project Card 3: HOMEBANKING
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center.card-container
                                        .p-5
                                            h2.fw-bolder
                                                a(href='https://github.com/Mpablom/MindHub_JAVA', target='_blank') HOMEBANKING
                                            p
                                                strong Tecnologías: 
                                                | HTML, CSS, JavaScript, Java.
                                            p
                                                strong Descripción: 
                                                | Proyecto final para el curso Fullstack Java de MindHub. Una aplicación de home banking diseñada para gestionar cuentas de usuario, transacciones y operaciones financieras.
                                        a(href='https://github.com/Mpablom/MindHub_JAVA', target='_blank')
                                            img.img-fluid(src='./assets/HBlogin.png', alt='Proyecto HOMEBANKING')

                            // Project Card 4: Weather App
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    .d-flex.align-items-center.card-container
                                        .p-5
                                            h2.fw-bolder
                                                a(href='https://github.com/Mpablom/Mobile', target='_blank') Weather App
                                            p
                                                strong Tecnologías: 
                                                | Java.
                                            p
                                                strong Descripción: 
                                                | Desarrollo de una aplicación móvil para consultar el clima. Me encargué de desarrollar la aplicación de acuerdo a los requisitos del proyecto, implementando la lógica necesaria para obtener y mostrar datos meteorológicos en tiempo real.
                                        a(href='https://github.com/Mpablom/Mobile', target='_blank')
                                            img.img-fluid(src='./assets/weatherApp.png', alt='Proyecto Weather App')

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Construyamos algo juntos
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contáctame

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
