doctype html
html(lang='es')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Pablo Moya - Backend Developer

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Currículum
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Experiencia Laboral
                                // Download resume button
                                a.btn.btn-primary.px-4.py-3(href='#!')
                                    .d-inline-block.bi.bi-download.me-2
                                    | Descargar CV

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 08/2023 - 12/2023
                                                .small.fw-bolder Prácticas Profesionalizantes
                                                .small.text-muted Teclab Instituto Superior
                                                .small.text-muted San Juan, Argentina
                                        .col-lg-8
                                            div Desarrollo de endpoints consumidos por el equipo de frontend. Documentación de endpoints mediante Swagger. Optimización de servicios y subida de nuevas versiones al servidor. Testing de endpoints con Postman.

                        // Education Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Educación
                            
                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2023
                                                .mb-2
                                                    .small.fw-bolder Teclab Instituto Superior
                                                    .small.text-muted San Juan, Argentina
                                                .fst-italic
                                                    .small.text-muted Técnico Superior en Programación
                                        .col-lg-8
                                            div Formación en desarrollo de software con enfoque en programación backend y frontend.

                            // Education Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2005
                                                .mb-2
                                                    .small.fw-bolder E.P.E.T Número 1
                                                    .small.text-muted San Juan, Argentina
                                                .fst-italic
                                                    .small.text-muted Técnico en Electrónica Industrial
                                        .col-lg-8
                                            div Formación técnica en electrónica industrial con habilidades en mantenimiento y reparación de sistemas electrónicos.

                        // Divider
                        .pb-5

                        // Skills Section
                        section
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    // Professional skills list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Habilidades Técnicas
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Java
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Quarkus
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Spring Boot
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JavaScript
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 React
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 TypeScript
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Git
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Swagger
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Linux
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 PostgreSQL
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 MySQL
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 MongoDB
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JWT

                                    // Languages list
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Idiomas
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Español (Nativo)
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Inglés (Intermedio)

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
